[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin-honeypot = "*"
django-honeypot = "*"
django-recaptcha = "*"

[dev-packages]

[requires]
python_version = "3.11"
