asgiref==3.6.0
boto3==1.26.78
botocore==1.29.78
Django==4.1.6
django-ckeditor==6.5.1
django-js-asset==2.0.0
django-storages==1.13.2
jmespath==1.0.1
Pillow==9.4.0
python-dateutil==2.8.2
python-dotenv==0.21.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
urllib3==1.26.14
whitenoise==6.3.0
