{% extends 'base/main.html' %}
{% load static %}
{% block content %}

	<div class="section-container">
		<div class="container">
			<div class="col-sm-8 col-sm-offset-2 section-container-spacer">
				<div class="text-center">
					<h1 class="h2">Certificates</h1>
					<p>In addition to my experience working on web applications, I have also completed a number of
						courses and certifications that have helped me to grow my skills as a developer. In this
						section, you'll find information about some of the certifications that I have earned.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}