{% extends 'base/main.html' %}
{% load static %}
{% block content %}

	<div class="section-container">
		<div class="container">
			<div class="section-container-spacer">
				<div class="text-center">
					<h1 class="h2">Certificates</h1>
					<p class="text-center">In addition to my experience working on web applications, I have also
						completed a number of courses and certifications that have helped me to grow my skills as a
						developer. In this section, you'll find information about some of the certifications that I have
						earned.</p>
					<div class="certificate-list">
						{% for certificate in certificates %}
							<div class="certificate">
								<div class="certificate-image">
									<img src="{{ certificate.document.url }}" alt="{{ certificate.name }}">
								</div>
								<div class="certificate-info">
									<h3>{{ certificate.name }}</h3>
									<p>Issued by {{ certificate.issued_from }} <br> Date: {{ certificate.date }}</p>
									<a href="{{ certificate.link }}">Check {{ certificate.description }}</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
