{% extends 'base/main.html' %}
{% load static %}
{% block content %}

    
<!-- Add your site or app content here -->
  
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings">
                  <span>I'm Aleksandar.</span>
                  <span>Working on my development.</span>
                  <span>Interested in Python and Django!</span>
                  <span>Currently learning in SoftUni.</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>

    
{% endblock content %}
