{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="hero-full-wrapper">
        <div class="text-content">
          <h1>Hello,<br>
            <span id="typed-strings">
              <span>My name is Aleksandar.</span>
              <span>I have a particular interest in Python and Django!</span>
              <span>You'll find examples of my work.</span>
              <span>Thank you for visiting my portfolio!</span>
            </span>
            <span id="typed"></span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    type();
    movingBackgroundImage();
  });
</script>


{% endblock content %}